@page
@model LogoutModel
@{
    ViewData["Logout"] = "Log out";
}

@*@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}*@


<header>
    <h1>@ViewData["Logout"]</h1>
    <p>You have successfully logged out of the application.</p>
</header>

