
@model Post 

@{
    ViewData["Title"] = "Edit Post";
}


<h4>Update or edit your post</h4>

<form asp-action="SubmitPost" method="post" class="form-group" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="FoodPic.Id" />
    <input type="hidden" asp-for="Score"/>

    <div class="form-group">
        <label asp-for="FoodPic.Name" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="FoodPic.Name" class="form-control" />
            <span asp-validation-for="FoodPic.Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="FoodPic.Location" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="FoodPic.Location" class="form-control" />
            <span asp-validation-for="FoodPic.Location" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="FoodPic.PicLink" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="FoodPic.PicLink" class="form-control bs-tooltip-right" data-toggle="tooltip" title="Enter the picture URL here." />
            <img src="Model.FoodPic.PicLink" />
            <span asp-validation-for="FoodPic.PicLink" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="FoodPic.Description" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <textarea asp-for="FoodPic.Description" class="form-control">
                </textarea>
            <span asp-validation-for="FoodPic.Description" class="text-danger"></span>
        </div>
    </div>

    <input type="hidden" asp-for="FoodPic.PostUserName" value="@this.User.Identity.Name"/>
    <input type="hidden" asp-for="PostUserName" value="@this.User.Identity.Name"/>
    <input type="hidden" asp-for="FoodPic.DatePosted" value="@DateTimeOffset.Now" />

        @*<div class="form-group">
                <label asp-for="FoodPic.Tags"></label>

                    <select asp-for="FoodPic.Tags" asp-items="" class="form-control" />
                    <span asp-validation-for="FoodPic.Tags" class="text-danger"></span>

            </div>*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Post" asp-controller="Home" asp-action="SubmitPost" />
        </div>
    </div>

</form>

<!-- This is needed for the asp-validation-for tags to render errors-->
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

